<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
  <connectionStrings>
    <add name="CNPC_Ductos" connectionString="Data Source=.;Initial Catalog=DB_9EB27B_ducto;User Id=CNPC_USUARIO;Password=123"/>
    <!--<add name="CNPC_DuctosEntities" 
           connectionString="metadata=res://*/DuctosDBModel.csdl|res://*/DuctosDBModel.ssdl|res://*/DuctosDBModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=SQL5028.Smarterasp.net;initial catalog=DB_9EB27B_ducto;user id=DB_9EB27B_ducto_admin;password=hernan@123;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
    <!--<add name="CNPC_Ductos" connectionString="Data Source=LAPTOP-3SLVDI46\SQLEXPRESS;initial catalog=DB_9EB27B_ducto;User Id=sa;Password=administrador; Integrated Security=no"/>-->
    <!--<add name="CNPC_Ductos" connectionString="Data Source=sql5028.smarterasp.net;initial catalog=DB_9EB27B_ducto;User Id=DB_9EB27B_ducto_admin;Password=hernan@123; Integrated Security=no"/>-->
    <!--<add name="CNPC_DuctosEntities" connectionString="metadata=res://*/DuctosDBModel.csdl|res://*/DuctosDBModel.ssdl|res://*/DuctosDBModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.;initial catalog=DB_9EB27B_ducto;Integrated Security=yes;App=EntityFramework&quot;" 
         providerName="System.Data.EntityClient" />-->
  </connectionStrings>
</configuration>